<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
		<% gossips.each_with_index do |gossip, index| %>
        <p>
          <%= gossip.gossip_author %> 
					<a href="/gossips/<%=index %>">  <%= gossip.gossip_content%> </a>
        </p>
      <% end %>
		<a href="/gossips/new/">Poste un nouveau potin</a>
  </body>
</html>